<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" routerLinkActive="active" routerLink='/home' href="#">eIntervention</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Interventions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#" routerLink='/home'>Liste</a>
                    <a class="dropdown-item" routerLinkActive="active" routerLink='/intervention/add' href="#">Ajouter</a>
                    <a class="dropdown-item" routerLinkActive="active" routerLink='/intervention/export' href="#">Exporter</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink='/reporting' href="#">Reporting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLinkActive="active" routerLink='/profil' href="#">Mon Profil
                    </a>
                    <a class="dropdown-item text-danger font-weight-bold" routerLinkActive="active" routerLink='/logout' href="#">Se déconnecter
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>