<app-menu></app-menu>
<div class="form-container">
    <h1 class="header">Rapport d'intervention</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="SearchForm">
        <div class="section">
            <h2 class="title">Recherche d'intervention</h2>
            <div class="body">
                <div class="group-champ col4">
                    <div class="champ"><label for="">Num&eacute;ro d'intervention</label>
                            <input id="numeroIntervention" name="numeroIntervention" type="text" formControlName="numeroIntervention" autocomplete="off" required
                            >
                        </div>
                        <div class="champ"><label for="">Adresse</label>
                            <input id="adresse" name="adresse" type="text" formControlName="adresse" autocomplete="off" required
                            >
                        </div>
                        <div class="champ"><label for="">Date</label>
                            <input id="date" name="date" type="date" formControlName="date" autocomplete="off" required
                            >
                        </div>
                        <div class="champ"><label for="">Redacteur</label>
                            <input id="redacteur" name="redacteur" type="text" formControlName="redacteur" autocomplete="off" required
                            >
                        </div>
                    
                   
                </div>
            </div>
        </div>   
               
       
        
            <div class="champ"><input type="submit"  value="Recherche" class="btn btn-primary btn-lg"></div>
         
    </form>
</div>