.clocks {
  background: #ada996;
  background: -webkit-linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to bottom, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  min-height: 140px;
  min-width: 185px;
  max-width: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: -6px 6px 12px #383838, 6px -6px 12px #fff;
  padding: 5px;

  .time {
    font-size: 41px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #313131;
  }

  .date {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    color: #1f5296;
  }
}

@media screen and (max-width: 768px) {
  .clocks {
    min-width: 100%;
    max-width: 100%;
    min-height: 80px;
    max-height: 80px;
    margin: 0;
    margin-top: 10px;
    border: 1px solid black;

    .time {
      font-size: 32px;
    }

    .date {
      margin: 0;
      margin-left: 20px;
    }
  }
}
