<app-menu></app-menu>
<div class="form-container">
    <h1 class="header">Rapport d'intervention</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="AddInterventionForm">
        <div class="section">
            <h2 class="title">Intervention</h2>
            <div class="body">
                <div class="group-champ col3">
                    <div class="champ"><label for="">Num&eacute;ro d'intervention</label>
                        <input id="numeroIntervention" name="numeroIntervention" type="text" autocomplete="off" required
                            formControlName="numeroIntervention">
                    </div>
                    <div class="champ"><label for="">Commune</label>
                        <input type="text" autocomplete="off" required id="commune" name="commune"
                            formControlName="commune">
                    </div>
                    <div class="champ"><label for="">Adresse</label>
                        <input type="text" autocomplete="off" required id="adresse" name="adresse"
                            formControlName="adresse">
                    </div>
                </div>
                <div class="champ">
                    <label for="">Type d'intervention</label>
                    <select name="typeIntervention" id="typeIntervention" class="form-control"
                        formControlName="typeIntervention">
                        <option value=t[TI_CODE] *ngFor="let t of typesIntervention" value={{t.TI_CODE}}>
                            {{t.TI_DESCRIPTION}}</option>
                    </select>
                </div>
                <div class="group-champ col2">
                    <div class="champ">
                        <label for="">Requ&eacute;rant</label>
                        <select name="requerant" id="requerant" class="form-control" formControlName="requerant">
                            <option value="CODIS">
                                CODIS</option>
                            <option value="Alerte locale">
                                Alerte locale</option>
                        </select>
                    </div>
                    <div class="group-champ col2">
                        <div class="champ mycheckbox"><label for="opm">OPM</label>
                            <input type="checkbox" name="opm" id="opm" formControlName="opm"></div>
                        <div class="champ mycheckbox"><label for="important">Important</label>
                            <input type="checkbox" name="important" id="important" formControlName="important"></div>
                    </div>
                </div>
                <div class="group-champ col2">
                    <div class="champ"><label for="">Date de d&eacute;clenchement</label>
                        <input type="date" autocomplete="off" required id="dateDeclenchement" name="dateDeclenchement"
                            formControlName="dateDeclenchement"></div>
                    <div class="champ"><label for="">Heure de d&eacute;clenchement</label>
                        <input type="time" autocomplete="off" required id="heureDeclenchement" name="heureDeclenchement"
                            formControlName="heureDeclenchement"></div>
                </div>
                <div class="group-champ col2">
                    <div class="champ"><label for="">Date de fin</label>
                        <input type="date" autocomplete="off" required id="dateFin" name="dateFin"
                            formControlName="dateFin">
                    </div>
                    <div class="champ"><label for="">Heure de fin</label>
                        <input type="time" autocomplete="off" required id="heureFin" name="heureFin"
                            formControlName="heureFin">
                    </div>
                </div>
            </div>
        </div>
        <div class="section engin">
            <h2 class="title">Engins et Personels</h2>
            <div class="body">
                <div formArrayName="vehiculesintervention"
                    *ngFor="let v of AddInterventionForm['controls'].vehiculesintervention['controls']; let i=index ">
                    <div [formGroupName]="i">
                        <div class="group-champ col2">
                            <div class="champ">

                                <label for="">Nom du v&eacute;hicule</label>
                                <select name="{{'vehicule'+i}}" id="{{'vehicule'+i}}" class="form-control"
                                    formControlName="vehicule" (change)="addTeam(i,$event.target.value)">
                                    <option value="">Selectionnez un véhicule</option>
                                    <option *ngFor="let v of vehicules" value="{{v.V_ID}}">
                                        {{v.V_INDICATIF}}
                                    </option>
                                </select>
                            </div>

                            <div class="champ mycheckbox"><label for="">Ronde</label><input formControlName="ronde"
                                    type="checkbox" name="ronde" id="{{'ronde'+i}}">
                            </div>
                        </div>
                        <div class="group-champ col2">
                            <div formArrayName="roles">
                                <div *ngFor="let Y of v['controls'].roles['controls']; let iy=index">
                                    <div formGroupName="{{iy}}" class="roles">
                                        <div class="champ">

                                            <label for="name">{{Y.value.rolename}}</label>
                                            <ng2-completer [datasource]="listePompier" [minSearchLength]="1" 
                                            [inputClass]="'form-control form-control-inline'"  formControlName="pompiername"></ng2-completer>
                                          

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="group-champ col2">
                            <div class="champ"><label for="">Date de d&eacute;part</label><input type="date"
                                    autocomplete="off" required id="{{'dateDepart'+i}}" formControlName="dateDepart">
                            </div>
                            <div class="champ"><label for="">Heure de d&eacute;part</label><input type="time"
                                    autocomplete="off" required id="{{'heureDepart'+i}}" formControlName="heureDepart">
                            </div>
                        </div>
                        <div class="group-champ col2">
                            <div class="champ"><label for="">Date d'arriv&eacute;e</label><input type="date"
                                    autocomplete="off" required formControlName="dateArrivee" id="{{'dateArrivee'+i}}">
                            </div>
                            <div class="champ"><label for="">Heure d'arriv&eacute;e</label><input type="time"
                                    autocomplete="off" required formControlName="heureArrivee"
                                    id="{{'heureArrivee'+i}}">
                            </div>
                        </div>
                        <div class="group-champ col2">
                            <div class="champ"><label for="">Date de retour</label><input type="date" autocomplete="off"
                                    formControlName="dateRetour" id="{{'dateRetour'+i}}" required></div>
                            <div class="champ"><label for="">Heure de retour</label><input type="time"
                                    autocomplete="off" formControlName="heureRetour" id="{{'heureRetour'+i}}" required>
                            </div>
                        </div>
                    </div>
                    <button type="button"*ngIf="i!==0" class="btn btn-primary btn-lg" id="deleteVehicule" (click)="deleteVehicule(i)">Supprimer ce
                        v&eacute;hicule</button>
                </div>
                
            </div>
            
            <button type="button" class="btn btn-danger btn-lg" id="addVehicule" (click)="addVehicule()">Ajouter un
                v&eacute;hicule</button>
        </div>
        <div class="section resp">
            <h2 class="title">Responsable</h2>
            <div class="body">

                <div class="champ">
                        <label for="name">Responsable</label>
                        <ng2-completer [datasource]="listePompier" [inputClass]="'form-control form-control-inline'" [minSearchLength]="1"  formControlName="responsable"></ng2-completer>
                       <!--       <mat-form-field>
                            <input type="text"  formControlName="responsable">
                              <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of listePompier" [value]="option">{{option}}</mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                    --> 
                  
                </div>
            </div>
        </div>
        <div class="group-champ col2">
            <div class="champ"><input type="submit" value="Sauvegarder" class="btn btn-primary btn-lg"></div>
            <div class="champ"><input type="submit" value="Valider" class="btn btn-success btn-lg"></div>
        </div>
    </form>
</div>