<div class="form-login">
    <div class="icon-header">
        <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
    </div>
    <div class="champ">
        <label for="username"><i class="fa fa-user" aria-hidden="true"></i></label>
        <input type="text" id="username" name="username" placeholder="Identifiant" autocomplete="off" required></div>
    <div class="champ">
        <label for="password"><i class="fa fa-unlock-alt" aria-hidden="true"></i></label>
        <input type="password" id="password" name="password" placeholder="Mot de passe" required></div>
    <input type="submit" value="Connexion" id="loginBtn" name="loginBtn">
</div>