.pompier-container {
  font-family: "Montserrat", sans-serif;
  .bandeau-title {
    min-height: 75px;
    max-height: 75px;
    background: #0575e6;
    background: -webkit-linear-gradient(to right, #021b79, #0575e6);
    background: linear-gradient(to right, #021b79, #0575e6);
    min-width: 80%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 3px #bfbfbf, -5px -5px 3px #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Prompt", sans-serif;
    color: white;
    font-weight: bold;
    .title {
      font-size: 2em;
      margin-left: 20px;
    }
    .logo {
      font-size: 52px;
    }
  }
  .body {
    .info {
      color: black;
      font-size: 24px;
      font-family: "Prompt", sans-serif;
      display: grid;
      text-align: left;
      row-gap: 10px;
      padding: 10px 50px;
      font-weight: bold;
      text-transform: capitalize;
      .title {
        background: #ff512f;
        background: -webkit-linear-gradient(to right, #f09819, #ff512f);
        background: linear-gradient(to right, #f09819, #ff512f);
        font-size: 1.5em;
        text-align: center;
        border-radius: 8px;
        margin: 10px 0px;
        font-weight: bold;
        padding: 5px 0px;
        color: white;
        box-shadow: 5px 5px 3px #bfbfbf, -5px -5px 3px #ffffff;
      }
      .label {
        font-weight: bold;
        color: black;
        font-size: 24px;
        padding-left: 15px;
      }
    }
    .droits {
      color: black;
      font-size: 24px;
      font-family: "Prompt", sans-serif;
      display: grid;
      text-align: left;
      row-gap: 10px;
      padding: 10px 50px;
      font-weight: bold;
      text-transform: capitalize;
      table {
        thead {
          th {
            text-align: center;
          }
        }
        tbody {
          tr {
            > td {
              &:first-child {
                text-align: center;
              }
            }
          }
        }
      }
      .title {
        background: #ff512f;
        background: -webkit-linear-gradient(to right, #f09819, #ff512f);
        background: linear-gradient(to right, #f09819, #ff512f);
        font-size: 1.5em;
        text-align: center;
        border-radius: 8px;
        margin: 10px 0px;
        font-weight: bold;
        padding: 5px 0px;
        color: white;
        box-shadow: 5px 5px 3px #bfbfbf, -5px -5px 3px #ffffff;
        background: #dce35b;
        background: -webkit-linear-gradient(to right, #45b649, #dce35b);
        background: linear-gradient(to right, #45b649, #dce35b);
      }
    }
  }
}
