<app-menu></app-menu>
<div *ngIf="intervention">
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr class="bg-primary">
                    <th scope="col">Numéro</th>
                    <th scope="col">Déclenchement</th>
                    <th scope="col">Fin</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Commune</th>
                    <th scope="col">Motif</th>
                    <th scope="col">Requérant</th>
                    <th scope="col">Statut</th>
                    <th scope="col">
                        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                    </th>
                    <th scope="col" *ngIf="type != 'valid' && type != 'waiting'&&auth.rights.haveEditingAccess()">
                        <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of intervention">
                    <td class="align-middle">{{i.NIntervention}}</td>
                    <td class="align-middle">{{i.DateDeclenchement}}</td>
                    <td class="align-middle">{{i.DateFin}}</td>
                    <td class="align-middle">{{i.Adresse}}</td>
                    <td class="align-middle">{{i.Commune}}</td>
                    <td class="align-middle">{{i.TypeIntervention}}</td>
                    <td class="align-middle">{{i.Requerant}}</td>
                    <td class="align-middle">{{i.Statut}}</td>
                    <td class="align-middle"><a href="" class="btn btn-lg btn-primary" routerLinkActive="active" routerLink='/intervention/{{i.IDIntervention}}'>Voir</a></td>
                    <td class="align-middle" *ngIf="type != 'valid' && type != 'waiting'&&auth.rights.haveEditingAccess()"><a
                            *ngIf="i.IDStatut == 2 || i.IDStatut == 0 || (i.IDStatut == 1 && auth.rights.haveRequestEditingAccess())" href="" class="btn btn-lg btn-secondary"
                            routerLinkActive="active" routerLink='/intervention/edit/{{i.IDIntervention}}'>Editer</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h1 class="msg" *ngIf="!intervention">Pas d'interventions trouvées</h1>