<app-menu></app-menu>
<div class="vehicule-container">
    <div class="bandeau-title">
        <div class="logo"></div>
        <div class="title">Véhicules</div>
    </div>
    <div class="body">
        <div class="vehicule-card">
            <div class="logo"></div>
            <div class="title"><a href="">Nom</a></div>
            <div class="model"><span class="label">Modèle : </span></div>
            <div class="type"><span class="label">Type : </span></div>
            <div class="imma"><span class="label">Immatriculation : </span></div>
            <div class="km"><span class="label">Kilometrage : </span></div>
            <div class="annee"><span class="label">Ann&eacute;e : </span></div>
            <div class="statut"><span class="label">Statut : </span></div>
        </div>
    </div>
</div>