<app-menu></app-menu>
<div class="intervention-container">
    <div class="bandeau-title">
        <div class="logo">
            <fa-icon [icon]="['far', 'clipboard']"></fa-icon>
        </div>
        <div class="title">Intervention n°</div>
    </div>
    <div class="body">
        <div class="info">
            <div class="title">Informations</div>
            <div class="date_dec"><span class="label">Date de déclenchement : </span></div>
            <div class="date_fin"><span class="label">Date de fin : </span></div>
            <div class="adresse"><span class="label">Adresse : </span></div>
            <div class="commune"><span class="label">Commune : </span></div>
            <div class="type"><span class="label">Type d'intervention : </span></div>
            <div class="requerant"><span class="label">Requérant : </span></div>
            <div class="responsable"><span class="label">Responsable : </span></div>
            <div class="important"><span class="label">Important : </span></div>
            <div class="opm"><span class="label">OPM : </span></div>
        </div>
        <div class="vehicule-container">
            <div class="title">Véhicules</div>
            <div class="vehicule">
                <div class="nom"><span class="label">Nom : </span></div>
                <div class="modele"><span class="label">Modèle : </span></div>
                <div class="immatriculation"><span class="label">Immatriculation : </span></div>
                <div class="comp"><span class="label">Composition : </span></div>
                <div class="poste"><span class="label"></span><a href="#"></a></div>
            </div>
        </div>
    </div>
</div>