.vehicule-container {
  font-family: "Montserrat", sans-serif;
  .body {
    .info {
      color: black;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      display: grid;
      text-align: left;
      row-gap: 10px;
      padding: 10px 50px;
      .label {
        font-weight: bold;
        color: black;
        font-size: 24px;
        padding-left: 15px;
      }
      .title {
        background: #ff512f;
        background: -webkit-linear-gradient(to right, #f09819, #ff512f);
        background: linear-gradient(to right, #f09819, #ff512f);
        font-size: 1.3em;
        text-align: center;
        border-radius: 8px;
        margin: 10px 0px;
        font-weight: bold;
        padding: 5px 0px;
        color: white;
        box-shadow: 5px 5px 3px #bfbfbf, -5px -5px 3px #ffffff;
      }
    }
    .composition {
      color: black;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      display: grid;
      text-align: left;
      row-gap: 10px;
      padding: 10px 50px;
      .label {
        font-weight: bold;
        color: black;
        font-size: 24px;
        padding-left: 15px;
      }
      .title {
        background: #000000;
        background: -webkit-linear-gradient(to right, #434343, #000000);
        background: linear-gradient(to right, #434343, #000000);
        font-size: 1.3em;
        text-align: center;
        border-radius: 8px;
        margin: 10px 0px;
        font-weight: bold;
        padding: 5px 0px;
        color: white;
        box-shadow: 5px 5px 3px #bfbfbf, -5px -5px 3px #ffffff;
      }
    }
  }
}
.bandeau-title {
  min-height: 75px;
  max-height: 75px;
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to right, #a044ff, #6a3093);
  min-width: 80%;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 5px 5px 3px #bfbfbf, -5px -5px 3px #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  .title {
    font-size: 2em;
    margin-left: 20px;
  }
  .logo {
    font-size: 52px;
  }
}
