* {
  font-family: Arial, Helvetica, sans-serif;
}
.contain {
  > app-login {
    display: grid;
    background: #141e30;
    background: -webkit-linear-gradient(to bottom, #243b55, #141e30);
    background: linear-gradient(to bottom, #243b55, #141e30);
    min-height: 100vh;
    place-content: center;
  }
}
.form-login {
  text-align: center;
  max-width: 500px;
  padding: 15px;
  margin: 0px auto 0px auto;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e3c72;
  background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);
  background: linear-gradient(to bottom, #2a5298, #1e3c72);
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 21px;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    text-align: center;
    .champ {
      margin: 20px 10px;
      background: #192e57;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 450px;
      padding: 5px 0px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.795);
      input {
        font-size: 22px;
        background: #192e57;
        outline: none;
        border: none;
        color: white;
        width: 100%;
      }
      label {
        font-size: 22px;
        margin-right: 10px;
        fa-icon {
          color: white;
          margin-left: 5px;
          border-right: 2px solid #1e3c72;
          padding: 10px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          margin: 0;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .icon-header {
      margin-bottom: 30px;
      color: white;
      fa-icon {
        font-size: 10em;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.795);
        display: flex;
      }
    }
    #loginBtn {
      min-width: 300px;
      max-width: 300px;
      margin: 40px auto 0px auto;
      border: none;
      padding: 20px;
      font-size: 22px;
      border-radius: 5px;
      background: #0575e6;
      color: white;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.795);
    }
  }
}
.error_message {
  color: red;
  margin: 20px auto 0px auto;
  font-family: "Montserrat", sans-serif;
}
