<div class="form-login">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="content">
            <div class="icon-header">
                <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
            </div>
            <div class="champ">
                <label for="username">
                    <fa-icon [icon]="['fas', 'user']"></fa-icon>
                </label>
                <input type="text" id="username" name="username" placeholder="Identifiant" autocomplete="off" ngModel required></div>
            <div class="champ">
                <label for="password">
                    <fa-icon [icon]="['fas', 'unlock-alt']"></fa-icon>
                </label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" ngModel required>
            </div>
            <input type="submit" value="Connexion" id="loginBtn" name="loginBtn" [disabled]="f.invalid">
        </div>
    </form>
</div>